#chart_container {
	width: 100%;
	height: auto;
	overflow: scroll;
	display: block;
}

#chart_div {
	display: block;
	zoom : 0.5;
}

td.google-visualization-orgchart-node {
    width: 200px;
    min-width: 200px;
    height: 200px;
	background: none;
	color: white;
	font-weight: 800;
	border-radius: 10px;
	border : none;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
td.google-visualization-orgchart-linebottom {
    border-bottom: 5px solid #aaa;
}
td.google-visualization-orgchart-lineleft {
    border-left: 5px solid #aaa;
}
td.google-visualization-orgchart-lineright {
    border-right: 5px solid #aaa;
}
td.google-visualization-orgchart-linetop {
    border-top: 5px solid #aaa;
}
// .google-visualization-orgchart-nodesel {
// 	border: none !important;
// }
.google-visualization-orgchart-table {
    border-collapse: separate;
}
td.google-visualization-orgchart-node-medium {
    font-size: 1em;
}
td.google-visualization-orgchart-node div{
	// background: #fafafa;
	background: white;
	height: 50%;
	width: 100%;
	float: left;
	border-radius: 10px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
	padding: 0;
	overflow: hidden;
	margin: 2px;
}
td.google-visualization-orgchart-node div h5{
	font-size: 14px;
    padding: 10px;
	display: block;
	width: 70%;
	height: auto;
	float: left;
}
td.google-visualization-orgchart-node div img{
	padding: 0;
	display: block;
	width: 30%;
	height: auto;
	float: left;
	display: block;
    // border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
td.google-visualization-orgchart-node div p{
	padding: 0 10px;
    font-size: 10px;
	width: 70%;
	margin-left: 30%;
	height: auto;
	float: left;
    /* font-weight: 100; */
	// height: 100%;
	// float: left;
}
td.google-visualization-orgchart-node .f{
	// background: #c06;
	border-right: 10px solid #c06;
    // color: white;
}
td.google-visualization-orgchart-node .m{
	// background: #06c;
	border-right: 10px solid #06c;
    // color: white;
}
td.google-visualization-orgchart-node .spouse{
	height: 50%;
}

td.google-visualization-orgchart-node .death img{
// -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
//     filter: grayscale(100%);
}
td.google-visualization-orgchart-node .death{
	// background: #eee;
}

